node_modules/
.cache/
public
content
dist
src/gatsby-types.d.ts
# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
yarn-error.log
.env

# User-specific settings
.vscode/settings.json
